{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div style="background-color:#EAF6FD; display: flex; justify-content: center; align-items: center; height: 50vh;">
    <form style="width: 400px; background-color: #fff; padding: 40px; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);" method='post'>
        <h1 style="text-align: center; color: #333; margin-bottom: 20px;">Login Page</h1>
        {% csrf_token %}
        {{form|crispy}}
        
        <!-- Remember Me -->
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="remember_me">
            <label class="form-check-label" for="remember_me" style="color: #333;">
                Remember Me
            </label>
        </div>
        
        <!-- Forgot Password Link -->
        <p style="text-align: center;"><a href="#" style="color: #007bff; text-decoration: none;">Forgot Password?</a></p>
    
        <button class="btn btn-primary mb-3" style="display: block; width: 100%;">Submit</button>
    </form>
</div>

{% endblock content %}
