{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block content %}
<div class="contact-nav" style=" background: linear-gradient(rgba(91, 5, 212, 0.976), rgba(63, 8, 134, 0.96));">

  <img src="{% static 'images/close-up-young-business-team-working.jpg' %}" alt="" style="width: 100%;position: relative;opacity: 0.3;height:40vh;object-fit:cover">
  <h1 style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); color: white;" class="fw-bolder"><strong>Job Applied</strong></h1>
</div>

  <div Style="width:50%;margin:auto;margin-top:20px;margin-bottom:20px">
  <form method="get" action="{% url 'joblist' %}">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <label for="start_date" class="form-label">From:</label>
        <input type="date" class="form-control" id="start_date" name="start_date">
      </div>

      <div class="col-md-4 mb-3">
        <label for="end_date" class="form-label">To:</label>
        <input type="date" class="form-control" id="end_date" name="end_date">
      </div>

      <div class="col-md-4 mb-3">
        <button type="submit" class="btn btn-primary mt-4">Filter</button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-hover mt-4">
      <thead class="bg-primary text-white">
        <tr>
          <th>Date</th>
          <th>Job Title</th>
          <th>Location</th>
          <th>Industry</th>
        </tr>
      </thead>

        <tbody>
            {% for job in object_list %}
            <tr class="border-b dark:border-neutral-500">
              <td class="px-4 py-2">
                {{ job.applied|date:"h:i A | d F,  Y " }}
              </td>
              <td class="px-4 py-2">
                {{ job.job.title }}
              </td>
              <td class="px-4 py-2 text-border">{{ job.job.location }}
                </span>
              </td>
              <td class="px-4 py-2">
    {{ job.job.industry}}
              </td>
              
            </tr>
            {% endfor %}
            
          </tbody>
   
    </table>
  </div>
</div>

{% endblock %}
